html,body,#root {
    height: 100%;
}


/* width */
.people::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  .people::-webkit-scrollbar-track {
    background: #999999; 
  }
   
  /* Handle */
  .people::-webkit-scrollbar-thumb {
    background: #4b4b4b; 
  }
  